:host{
  border-bottom: solid 1px #343a4030;
  .values {
    font-size: 12px;
  }
  .text-success,.text-danger{
    font-weight: bold;
  }
  .material-icons{
    border-radius: 1rem;
    font-size: 12px;
    color: #fafafafa;
  }
}
