/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

* {
  font-family: 'Roboto', sans-serif;
  color: #343a40;
}

.text-green{
   color:#4db6ac;
}
.bg-green{
  background-color:#4db6ac;
}
