<div class="container">
  <div class="row pt-1">
    <app-header></app-header>
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <img src="assets/images/logo.jpg" class="w-100" alt="logo" />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-3 my-3">
      <app-highlight-card
        [title_bg]="'#004d40'"
        [value]="'230.90'"
        [title]="'Bolívares Soberanos'"
      ></app-highlight-card>
    </div>
    <div class="col-12 col-md-3 my-3">
      <app-highlight-card
        [title_bg]="'#ffc400'"
        [value]="'230.90'"
        [title]="'Bitcoin'"
      ></app-highlight-card>
    </div>
    <div class="col-12 col-md-3 my-3">
      <app-highlight-card
        [title_bg]="'#b71c1c'"
        [value]="'230.90'"
        [title]="'Petros'"
      ></app-highlight-card>
    </div>
  </div>
</div>
