<footer>
  <div class="row pt-5">
    <div class="col-12">

        <img
          src="assets/images/logo.jpg"
          class="footer-logo"
          alt="footer-logo"
        />

    </div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta
            at neque ac blandit. Sed quis orci ante. Sed bibendum tempus sem,
            ultrices ultricies ante. In feugiat ligula sed varius tristique.
            Etiam eleifend turpis et quam imperdiet tristique. Aliquam laoreet
            diam eget fermentum tristique.
          </p>
        </div>
        <div class="col-12 d-flex flex-row">
          <img class="mx-2 social-icon" src="assets/images/twitter.png" alt="social-icon" />
          <img class="mx-2 social-icon" src="assets/images/facebook.png" alt="social-icon" />
          <img class="mx-2 social-icon" src="assets/images/instagram.png" alt="social-icon" />
        </div>
      </div>
    </div>
      <div class="col-12 col-md-3">
        <p>Nosotros</p>
        <p>Características</p>
      </div>
      <div class="col-12 col-md-3">
        <p>Contacto</p>
        <p>Ayuda y soporte</p>
        <p>Términos</p>
      </div>
  </div>
</footer>
