:host {
  .divider {
    height: 2.5rem;
  }
  footer {
    background-color: #eceff1;
    border-radius: 5rem 5rem 0 0;
  }
  .footer-logo {
    max-width: 250px;
  }
  .social-icon {
    width: 18px;
  }
}
